@model TheWall.Models.TheWallModels
<div asp-validation-summary="All"></div>
<h1>Welcome to The Wall " @ViewBag.User[0]["first_name"] "!</h1>

<p>Type in a message to post to The Wall!</p>
<form asp-action="CreateMessage" method="post">
    <textarea asp-for="MessagePost.MessageContent" cols="30" rows="3" placeholder="Enter post here..."></textarea>
    <input style="display: block;" type="submit" value="Post Message">
</form>

@{
    foreach(var message in ViewBag.AllMessages)
    {
        <h3>@message["first_name"] @message["last_name"] - @message["created_at"].ToString("f")</h3>
        <div>
            <p style="margin-left: 15px;">@message["message"]</p>
            @if(ViewBag.UserID == @message["user_id"])
            {
                <a href="delete/message/@message["message_id"]">Delete Message</a>
            }
            @foreach (var comment in @ViewBag.AllComments)
            {
                if(@message["message_id"] == @comment["message_id"])
                {
                    <h4 style="margin-left: 15px;">@comment["first_name"] @comment["last_name"] replied on @comment["created_at"].ToString("f")</h4>
                    <p style="margin-left: 35px;">@comment["comment"]</p>
                }
            }
            @if(ViewBag.UserID != @message["user_id"])
            {
                <form asp-action="CreateComment" method="post">
                    <textarea asp-for="CommentPost.CommentContent" cols="20" rows="2" placeholder="Enter comment here..."></textarea>
                    <input type="hidden" asp-for="CommentPost.MessageID" value="@message["message_id"]">
                    <input style="display: block;" type="submit" value="Post Comment">
                </form>
            }
        </div>
    }
}
<br>
<a href="/logout">Logout and return to Login and Registration!</a>

<h3 style="font-style: italic;">@TempData["errors"]</h3>